@import "tailwindcss";

/* Fonts */
@font-face {
  font-family: "Dawning";
  src: url("../fonts/Dawning.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Base styles */
:root {
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f0e6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 100;
}

ul.details li {
  list-style: inside circle;
  margin-bottom: 0.5rem;
}

/* Est nav height */
.nav-content-offset {
  padding-top: 3.5rem;
}

/* Font */
.font-dawning {
  font-family: "Dawning", serif;
}

/* Section unitlity class */
.flex-center-100vh {
  @apply flex flex-col items-center justify-center min-h-screen px-5 mx-auto;
}

/* Dropdown dots */
.nav-circle-dot {
  position: relative;
}

.nav-circle-dot::after {
  content: "";
  position: absolute;
  left: -23px;
  top: 12px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #57534e; /* Darker grey */
}

@media (min-width: 640px) {
  .nav-circle-dot::after {
    top: 10px;
  }
}

/* Timeline dots */
.circle-dot {
  position: relative;
}

p.circle-dot {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: #908985;
}

.circle-dot::after {
  content: "";
  position: absolute;
  left: -23px;
  top: 5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #57534e; /* Darker grey */
}

/* Dropdown hover underline animation */
.nav-link-hover {
  position: relative;
  display: inline-block;
  line-height: 1;
  padding-bottom: 0.1rem;
}

.nav-link-hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #57534e;
  transition: width 0.3s ease-in-out;
}

.nav-link-hover:hover::before {
  width: 100%;
}

/* Lightbox overrides */
.yarl__container {
  background-color: #f5f0e6;
}

.yarl__button {
  filter: none;
}

.yarl__icon {
  color: #908985;
}

.yarl__icon:hover {
  color: #57534e;
}
