@import "tailwindcss";

/* Fonts */
@font-face {
  font-family: "Dawning";
  src: url("../fonts/Dawning.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Base styles */
:root {
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f0e6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 100;
}

/* Est nav height */
.nav-content-offset {
  padding-top: 3.5rem;
}

/* Font */
.font-dawning {
  font-family: "Dawning", serif;
}

/* Section unitlity class */
.flex-center-100vh {
  @apply flex flex-col items-center justify-center min-h-screen px-5 mx-auto;
}

/* Timeline dots */
.circle-dot {
  position: relative;
}

.circle-dot::after {
  content: "";
  position: absolute;
  left: -23px;
  top: 5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #57534e; /* Darker grey */
}

/* Lightbox overrides */
.yarl__container {
  background-color: #f5f0e6;
}

.yarl__button {
  filter: none;
}

.yarl__icon {
  color: #908985;
}

.yarl__icon:hover {
  color: #57534e;
}
