@import "tailwindcss";

/* Fonts */
@font-face {
  font-family: "Dawning";
  src: url("./assets/fonts/Dawning.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/RobotoExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Base styles */
:root {
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f0e6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 100;
}
.nav-adjust-padding {
  padding-top: 1.8rem;
}

/* Utility class for Dawning font */
.font-dawning {
  font-family: "Dawning", serif;
}

/* Lightbox overrides */
.yarl__container {
  background-color: #f5f0e6;
}

.yarl__button {
  filter: none;
}

.yarl__icon {
  color: #908985;
}

.yarl__icon:hover {
  color: #57534e;
}
