@import "tailwindcss";

/* Add your font-face rules at the top */
@font-face {
  font-family: "Dawning";
  src: url("./assets/fonts/Dawning.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/RobotoExtraLight.ttf") format("truetype");
  font-weight: 100; /* This is correct for the ExtraLight font */
  font-style: normal;
  font-display: swap;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f0e6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-padding-top: 60px; /* ~navbar height */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 100; /* This is correct for the ExtraLight font */
}

/* Utility class for Navheight adjustment font */
.nav-height-adjust {
  min-height: calc(100vh - 60px);
}

/* Utility class for Dawning font */
.font-dawning {
  font-family: "Dawning", serif;
}

/* overwrite lighbox styles */
.yarl__container {
  background-color: #f5f0e6; /* Change this to your desired color */
}

.yarl__button {
  filter: none; /* Remove any filter effects */
}

/* Changes the icon color to bg-stone-500 and removes any filter effects */
.yarl__icon {
  color: #908985; /* Corresponds to Tailwind's bg-stone-600 */
}

/* Changes the icon color on hover to bg-stone-600 */
.yarl__icon:hover {
  color: #57534e; /* Corresponds to Tailwind's bg-stone-700 */
}
